Simple_ReAct_Agent_with_Memory/Simple ReAct Agent w_ Memory.json
{
  "name": "Simple ReAct Agent w/ Memory",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        64
      ],
      "id": "9d281980-2a10-4d74-96f2-bb98486b4420",
      "name": "When chat message received",
      "webhookId": "84777017-dfe8-4159-b528-e466b638c1a1"
    },
    {
      "parameters": {
        "options": {
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -400,
        -48
      ],
      "id": "68ca55aa-a7a4-48d5-b6ed-0f53f789ac44",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -416,
        192
      ],
      "id": "6bd8ff15-574b-4fde-b995-eb5dd2030393",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "molYjkydhlF4Gr0Z",
          "name": "AI School Phase 3 Session 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -288,
        192
      ],
      "id": "5f3b1e73-ab38-439d-855a-e7a73ffd3b73",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "oLP7plPzbKkobtwB",
          "name": "AI School S1 P3 Session 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2f87ce4b-87d6-4341-986e-2c8d6272e2a6",
        "authentication": "basicAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -864,
        -128
      ],
      "id": "2b8e0a60-4e30-4828-8674-312126329509",
      "name": "Webhook",
      "webhookId": "2f87ce4b-87d6-4341-986e-2c8d6272e2a6",
      "credentials": {
        "httpBasicAuth": {
          "id": "lkKwHkl12pZhiYuQ",
          "name": "AI School S1 P3 Session 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d224228e-9908-4948-8c75-b07dea47543a",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "b8db9c8f-54aa-453c-a0c0-1cf973d78b24",
              "name": "chatInput",
              "value": "={{ $json.body.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -128
      ],
      "id": "6b19c51f-ba15-4d9d-81d1-4c216669700f",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "commandlabs.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "content-length": "88",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "authorization": "Basic dGVzdDp0ZXN0",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2600:382:3bb1:44d5:a8b4:15e4:bb27:7310",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "99c4250c56b153ee-ATL",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2600:382:3bb1:44d5:a8b4:15e4:bb27:7310, 172.71.31.211",
            "x-forwarded-host": "commandlabs.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-50-54974b54fc-22rkn",
            "x-is-trusted": "yes",
            "x-real-ip": "2600:382:3bb1:44d5:a8b4:15e4:bb27:7310"
          },
          "params": {},
          "query": {},
          "body": {
            "sessionId": "36fc4306-4985-4796-864f-fca2af892729",
            "prompt": "2 + 2 is?"
          },
          "webhookUrl": "https://commandlabs.app.n8n.cloud/webhook-test/2f87ce4b-87d6-4341-986e-2c8d6272e2a6",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "69108fa1-5f3f-4394-8efe-be19c7df4a1d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59163ef64e1cf4dcd8e0818ffdc09c87dbd57c11199a791813b2ff3820cc01aa"
  },
  "id": "DV4kBrQWMVeOMtRV",
  "tags": []
}