Ingest QnAs in a Google Sheet into Pinecone DB/Ingest QnAs in a Google Sheet into Pinecone DB.json
{
  "name": "Ingest QnAs in a Google Sheet into Pinecone DB",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "text-embedding-3-small",
          "mode": "list",
          "cachedResultName": "text-embedding-3-small"
        },
        "options": {
          "pineconeNamespace": "faq"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        144,
        336
      ],
      "id": "489daed6-cd4f-44ca-91fd-39652f717f2b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3qFVtdil1veEwekd",
          "name": "Simple-Rag"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        560
      ],
      "id": "a160a8f6-1d91-41ea-8b72-dc4122b7bfb9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3Pi4ZntDXCnJXClE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        240,
        560
      ],
      "id": "d889c2b0-1a53-4f45-9f3e-91b23bbd85e7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -504,
        -304
      ],
      "id": "9fd5c760-e694-49c7-aef3-c5b8eb00a47e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        -304
      ],
      "id": "078c72ba-bca6-4b2d-930e-ed518ec67b6e",
      "name": "When chat message received",
      "webhookId": "a00be011-eca6-49c0-8be1-e91f116a33b8"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        -80
      ],
      "id": "9ac79d0b-9fe4-4089-a8e8-deebd0012677",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3Pi4ZntDXCnJXClE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "kb",
        "toolDescription": "call this to access the faq database",
        "pineconeIndex": {
          "__rl": true,
          "value": "text-embedding-3-small",
          "mode": "list",
          "cachedResultName": "text-embedding-3-small"
        },
        "options": {
          "pineconeNamespace": "faq"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -304,
        -80
      ],
      "id": "d077c005-aa59-4787-a260-d152ff7c1752",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "3qFVtdil1veEwekd",
          "name": "Simple-Rag"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -224,
        128
      ],
      "id": "8936c547-f613-44e8-9998-9e6461821049",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "3Pi4ZntDXCnJXClE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -432,
        -80
      ],
      "id": "eaf927a4-6e10-4fce-b0bf-4550dadc88a2",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        336
      ],
      "id": "4cd9eebf-a8db-41a1-8f18-531f7fec8056",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  item.json.qna = `${item.json.Prompt} ${item.json[\"Ground Truth Response\"]}`;\n  return item;\n});\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        336
      ],
      "id": "236d5e6c-2b39-4fcf-ad4e-c464bbc79cf6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6734fdbb-43d6-4d62-a965-167d122fcc4b",
              "name": "qna",
              "value": "={{ $json.qna }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        336
      ],
      "id": "1058cbc0-3943-4c7c-bb93-179623282394",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14iQ2_fmbUdo8jzt8vBwEgwLqLewvPL-X-nme6ojWgwc",
          "mode": "list",
          "cachedResultName": "n8n_evals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iQ2_fmbUdo8jzt8vBwEgwLqLewvPL-X-nme6ojWgwc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iQ2_fmbUdo8jzt8vBwEgwLqLewvPL-X-nme6ojWgwc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        336
      ],
      "id": "4e7c0be2-c7a7-48eb-8dda-90cc88dabed5",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wgSPjML6zFmXOAXP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        320,
        768
      ],
      "id": "52101dce-cf93-4bde-a4c6-a0942857493f",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "content": "# Ingest spreadsheet of QnA's in Google Sheets into Pinecone Vector DB",
        "height": 404,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        320
      ],
      "id": "51a4a6f6-baea-43ee-bdbb-5be36beac08a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Little Workflow to quickly validate the ingest was successful",
        "height": 404,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        -272
      ],
      "id": "ed8bc3d4-f5cc-4a3c-af96-08763623f102",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a2c3f49-04de-4bc8-9c61-dd9f61470aa6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59163ef64e1cf4dcd8e0818ffdc09c87dbd57c11199a791813b2ff3820cc01aa"
  },
  "id": "7NInQi0mpbau7DST",
  "tags": []
}